p {
color:white;
	 
}

img.center {
 display:block;
 margin-left:auto;
 margin-right:auto;
	
}

header {
	text-align:center;
	
}


a {
	background-color:Green;
	color:white;
	font-family:fantasy;
	font:bolder;
	text-shadow:2px 2px black;
	padding:6px;
	
}
header a.hover {
	text-align: center;
	background-color:transparent;
	
	
}

h1 {
	color:white;
}

body {
	background-image:url("images/fightingRingBackground.jpg");
	
}

footer {
	
	text-align:center;
	
}